<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sass Example Site</title>
  <link rel="stylesheet" href="{{ '/css/main.css'}}" />
  <link rel="javascript" href="{{ '/js/main.js' }}" />
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSms4Ik4SySH0bTY2WDUcUW4GzZlmY5tU&callback=initMap">
  </script>
</head>
<body>
  <header>
    {% include header.html %}
  </header>
  <section class="content">
    {{ content }}
  </section>

  <footer>
    {% include footer.html %}
  </footer>
</body>
</html>