---
layout: default
---
<section class="blog-area">
    <div class="article-layout__hero">
        <div class="article-layout__hero-image">
                {% include image.html name=page.image.image alt=page.image.caption %}
        </div>
        <h1>{{ page.title }}</h1>
    </div>

    <div class="article-layout__main">
        {{content}}
    </div>
    <div class="article-layout__sidebar"> 
        <div class= "field-author">
            {% for people in site.data.members %}
                {% if people.name == page.author %}
                    <h3>{{ people.name }}</h3>
                    {% include profile-image.html name=people.image alt="Laura in the wild" %}                    
                {% endif %}
            {% endfor %}
        </div>
        
        <div class="field-details">
            {% for detail in page.details %}
                <p id="{{ detail }}">
                    {{ detail }}
                </p> 
            {% endfor %}  
        
        </div>
        
        <div class="field-gps">
            {{ page.gps }}
        </div>
        
        <div class="field-raiting">
            {{page.rating}}
        </div>
        
        <div class="field-distance">
            {{ page.distance}}
        </div>
        
        <div class="field-strava">
            {{ page.strava }}
        </div>
    </div>
</section>
